@import '../../../settings';

.TopFilms{
	background-color:$black;
	color: $white;
	overflow: hidden;
	h1, h2, h3, h4, h5, h6{
		color: $white;
	}
	h2{
		padding-bottom:rem-calc(50); 
	}
}
.Film{
		min-height: 14vw;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		position: relative;
		&:before{
			display: block;
			content:'';
			height:100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 80%);
		}
		a{
			height: 100%;
			width:100%;
			position:relative;
			padding:rem-calc(30);
			display: flex;
			align-items: flex-end;
			&:after{
				border:5px solid transparent;
				height:100%;
				width:100%;
				left:0;
				top:0;
				position:absolute;
				content: '';
				z-index:3;
				transition: .6s;
			}
			&:hover{
				&:after{
					border:5px solid $primary-color;
					transition: .6s;
				}
			}
			span{
				color:$white;
				text-transform: uppercase;
			}
		}
	}