@import '../../../settings';

.Actor{
	a{	
		position:relative;
		display: block;
		color: $white;
		&:after{
			border:5px solid transparent;
			height:100%;
			width:100%;
			left:0;
			top:0;
			position:absolute;
			content: '';
			z-index:3;
			transition: .6s;
		}
		.imageContainer{
			position:relative;
			&:after{
				content:'';
				position: absolute;
				height: 100%;
				width: 100%;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 80%);
				z-index: 1;
				left: 0;
				top: 0;
				transition: .3s;
			}
		}
		.actorContent{
			h6{
				margin-bottom:0;
			}
			position:absolute;
			top: 65%;
			left:0;
			padding:rem-calc(15);
			z-index: 2;
			width:100%;
			height:35%;
		}
		&:hover{
			&:after{
				border:5px solid $primary-color;
				transition: .6s;
			}
			.imageContainer{
				&:after{
					background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%);
					transition: .3s;
				}
			}
			.actorContent{
				background-color: rgba($dark-gray, .7);
			}
		}
	}
}