@import '../../settings';

.heroImage{
	font-size: 120%;
	height:90vh;
	position:relative;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	color: $white;
	padding: 15vh 0;
	&:before{
		content:'';
		top:0;
		left:0;
		width:100%;
		height: 100%;
		position: absolute;
		background: linear-gradient(to bottom, rgba($black, 0.7) 0%,rgba($black, 0.2) 50%,rgba($black, 0.7) 100%);
		z-index: 0;
	}
	> div{
		z-index: 1;
	}
	h1{
		color: $white;
		display: inline-block;
		padding-right:rem-calc(10);
	}
	.genres{
		span{
			border-right: 1px solid #fff;
			padding: 0 rem-calc(20);
			font-family: $header-font-family;
			&:first-of-type{
				padding-left:rem-calc(0);
			}
			&:last-of-type{
				border-right:0px;
			}

		}
	}
	.Year{
		font-weight: 300;
	}
	.UserOptions{
		margin-top:rem-calc(30);
		button{
			border: 2px solid $white;
			border-radius: 50%;
			width: rem-calc(52);
			height: rem-calc(52);
			display: flex;
			align-items: center;
			justify-content: center;
			transition: .3s;
			cursor: pointer;
			i{
				color: $primary-color;
				transition: .3s;
			}
			&.added{
				background-color: rgba($black, 0.8);
				border: 2px solid $primary-color;
			}
			&:hover{
				background-color: rgba($black, 0.8);
				border: 2px solid $primary-color;
				i{
					color: $white;
					transition: .3s;
				}
				transition: .3s;
			}
		}
		.star-rating{
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-flow: row;
			button{
				border: 0px solid $white;
				border-radius: 0;
				width: rem-calc(32);
				height: rem-calc(52);
				display: block;
				transition: .3s;
				cursor: pointer;
				&:hover{
					background-color: transparent;
					border: 0px solid $primary-color;
					i{
						color: $white;
						transition: .3s;
					}
					transition: .3s;
				}
				&:focus{
					outline: 0;
				}
			}
		}
	}
}