@import '../../../settings';

.Trailer{
	text-transform: uppercase;
	button{
		color:$white;
		transition: .5s;
		cursor: pointer;
	}
	i{
		margin-right: rem-calc(20);
		color:$primary-color;
		transform: scale(1);
		transition: .5s;
	}
	&:hover{		
		
		button{
			color: $primary-color;
			transition: .5s;
		}
		i{
			color: $secondary-color;
			transition: .5s;
			transform: scale(1.3);
		}
	}
}