@import '../../settings';

.Content{
	position: relative;
	&:before{
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			display: block;
			z-index: 2;
			height: 100%;
			width: 100%;
			background-color: $white;
			opacity:.85;
		}
	.Person{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height:100%;
		z-index:2;
		background-color: $black;
	}
	.ContentBackground{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height:100%;
		z-index:1;
		background-size:cover;
		background-position:center;
	}
	> .grid-container{
		position:relative;
		z-index: 3;
	}
	.MovieContent{
		background-color: $dark-gray;
		color: $white;
		h1, h3, h4, h5, h6{
			color: $white;
			&:after{
				height:rem-calc(5);
				width:rem-calc(100);
				content: '';
				display: block;
				background-color:$secondary-color;
			}
		}
		h2{
			color: $white;
		}
		.MovieInfo{
			padding: rem-calc(45) rem-calc(75);
			.MovieInfoBullets{
				> div{
					border-top:1px solid $medium-gray;
					position:relative;
					min-height: rem-calc(50);
					&:before{
						background-color: $primary-color;
						width: 10px;
						height: 10px;
						border-radius:50%;
						content: '';
						display: block;
						position:absolute;
						top:-5px;
						right:-5px;
					}
					&:last-of-type{
						border-bottom:1px solid $medium-gray;
						&:after{
							background-color: $primary-color;
							width: 10px;
							height: 10px;
							border-radius:50%;
							content: '';
							display: block;
							position:absolute;
							bottom:-5px;
							right:-5px;
						}
					}
				}
			}
		}
	}
	.Social{
		a{
			padding:0 rem-calc(8);
			font-size: rem-calc(16);
			transition: .3s;
			&:hover{
				color: $white;
				transition: .3s;
			}
		}
		
	}
}