@import '../../settings';

.OptionsContainer{
	position:fixed;
	height: 100%;
	background-color: $dark-gray;
	color:$white;
	z-index: 5;
	padding: rem-calc(20);
	width:rem-calc(350);
	h1, h2, h3, h4, h5, h6, label, .close-button{
		color:$white;
	}
	.SettingsButton{
		
		button{
			font-size:rem-calc(32);
			width:rem-calc(60);
			height:rem-calc(60);
			color:$white;
			background-color: $dark-gray;
			border-radius: 0 rem-calc(10) rem-calc(10) 0;
			cursor: pointer;
		}
		position:absolute;
		right:rem-calc(-60);
		top:rem-calc(20);

	}
	&.Open{
		transform: translateX(0);
		transition: .3s;
	}
	&.Close{
		transform: translateX(-100%);
		transition: .3s;
	}
}