@import '../../settings';

.ActorList{
	background-color: $black;
	color: $white;
	h1, h2, h3, h4, h5, h6{
		color: $white;
	}
	.Title{
		position:relative;
		padding-bottom: rem-calc(20);
		margin-bottom: rem-calc(40);
		&:after{
			height:rem-calc(5);
			width:rem-calc(100);
			content: '';
			display: block;
			background-color:$secondary-color;
			position: absolute;
			left:50%;
			bottom:0;
			transform: translateX(-50%);
		}
	}
}