.ProgressContainer{
	display: flex;
	flex-flow: column;
	.Progress{
		position: relative;
		.ProgressRing, .ProgressRingBG{
			position:absolute;
			left:0;
			bottom:0;
			transition: stroke-dashoffset 0.35s;
			transform: rotate(-90deg);
			transform-origin: 50% 50%,
		}
		.ProgressTotal{
			position:absolute;
		}
	}
}